<h3>Edit Merchant</h3>
<p></p>
<form method="post" action="/manage/merchants/<%= @merchant.id %>">
  <label for="merchant-name-field">Merchant Name:</label>
  <input
  type="text"
  name="name"
  id="merchant-name-field"
  value="<%= @merchant.name %>"
  />
  <input class="btn-db-update" type='submit' value="Confirm Edit">
</form>
