<h1>Manage Merchants</h1>
<p></p>
<nav>
  <ul>
    <li>
      <a href="/manage/transactions">Manage Transactions</a>
    </li>
    <li>
      <a href="/manage/tags">Manage Tags</a>
    </li>
  </ul>

  <p></p>
  <p></p>
  <a href="/manage/merchants/new">Create New Merchant</a><table>
</nav>
<p></p>
<p>NOTE: Deleting a merchant will delete all associated transactions. If this is not desired, please use 'Manage Transactions' to change these associations</p>

<h1>Merchants</h1>
  <% for merchant in @merchants %>
    <p><%= merchant.merchant_name %></p>
    <a href="/manage/merchants/<%= merchant.id %>/edit">Edit Merchant</a>
    <form method="post" action="/manage/merchants/<%= merchant.id %>/delete">
      <input type="submit" value="Delete Merchant"/>
    </form>
  <% end %>

<p></p>
<nav>
  <a href="/">Home</a>
</nav>
