<h1>Add New Merchant</h1>
<p></p>
<form method="post" action="/manage/merchants">
  <label for="merchant-name-field">New Merchant name:</label>
  <input
  type="text"
  name="merchant_name"
  id="merchant-name-field"
  />
  <input type="submit" value="Add Merchant">
</form>
