<h3>Add New Merchant</h3>
<p></p>
<form method="post" action="/manage/merchants">
  <label for="merchant-name-field">New Merchant name:</label>
  <input
  type="text"
  name="name"
  id="merchant-name-field"
  />
  <input class="btn-db-update" type="submit" value="Add Merchant">
</form>
