<h1>About Us</h1>

<p>We're a startup bank who are going to profit from our customers as much as possible and we hope they let us get away with it.</p>
<p>We feel that budgets and details like when you spent your money are so limiting that we haven't included any of that kind of dull functionality - we hope you enjoy your freedom! (but we might include them in the next release....)</p>
<nav>
  <a href="/">Home</a>
</nav>
