<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <section id="content">
    <%= yield %>
    </section>
    <hr>
    <nav>
      <ul>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/explore/transactions">Explore</a>
        </li>
        <li>
          <a href="/manage/transactions">Manage</a>
        </li>
        <li>
          <a href="/contact">Contact Us</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
