<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="/styles/buttons.css">
    <link rel="stylesheet" type="text/css" href="/styles/forms.css">
    <link rel="stylesheet" type="text/css" href="/styles/structure.css">
    <link rel="stylesheet" type="text/css" href="/styles/tables.css">
    <h1>GoGo Banking</h1>
    <h5>Banking on the go!</h5>
  </head>
  <body>
    <section id="content">
    <%= yield %>
    </section>
    <p> </p> <hr> <p> </p> <p></p>
    <div class="footer-navbar">
      <a href="/">Home</a>
      <a href="/explore/transactions">Explore</a>
      <a href="/manage/transactions">Manage</a>
      <a href="/contact">Contact Us</a>
      <a href="/about">About</a>
    </div>
  </body>
</html>
