<h1>Edit Tag</h1>
<p></p>
<form method="post" action="/manage/tags/<%= @tag.id %>">
  <label for="tag-name-field">First Name:</label>
  <input
  type="text"
  name="tag_name"
  id="tag-name-field"
  value="<%= @tag.tag_name %>"
  />
  <input type='submit' value="Confirm Edit">
</form>
