<h3>Edit Tag</h3>
<p></p>
<form method="post" action="/manage/tags/<%= @tag.id %>">
  <label for="tag-name-field">First Name:</label>
  <input
  type="text"
  name="name"
  id="tag-name-field"
  value="<%= @tag.name %>"
  />
  <input type='submit' value="Confirm Edit">
</form>
