<h3>Manage Tags</h3>
<p></p>
<nav>
  <ul>
    <li>
      <a href="/manage/transactions">Manage Transactions</a>
    </li>
    <li>
      <a href="/manage/merchants">Manage Merchants</a>
    </li>
  </ul>
  <p></p>
  <form method="get" action="/manage/tags/new">
    <input class="btn" type="submit" value="Create new Tag"/>
  </form>
  <p></p>
</nav>
<p>NOTE: Deleting a tag will delete all associated transactions. If this is not desired, please use 'Manage Transactions' to change these associations</p>
<p>Item Count:<%= @item_count %></p>
<table>
  <tr>
    <th>Tag</th>
  </tr>
  <% for tag in @tags %>
  <tr>
    <td><%= tag.name %></td>
    <td><form method="get" action="/manage/tags/<%= tag.id %>/edit">
      <input class="btn" type="submit" value="Edit"/>
    </form></td>
    <td><form method="post" action="/manage/tags/<%= tag.id %>/delete">
      <input class="btn-db-danger" type="submit" value="Delete"/>
    </form></td>
  </tr>
  <% end %>
</table>
