<form method="post" action="/manage/tags">
  <label for="tag-name-field">New Tag name:</label>
  <input
  type="text"
  name="tag_name"
  id="first-name-field"
  />

  <input type="submit" value="Add Tag">
</form>
