<h3>Add New Tag</h3>
<p></p>
<form method="post" action="/manage/tags">
  <label for="tag-name-field">New Tag name:</label>
  <input autofocus
  type="text"
  name="name"
  id="tag-name-field"
  />
  <p></p>
  <p></p>
  <input class="btn-db-update" type="submit" value="Add Tag">
</form>
