.btn,
.btn-db-danger,
.btn-db-update {
  border-radius: 20px;
  color: darkblue;
  background-color: lightblue;
  font-family: arial;
  outline: none;
}

.btn:hover {
  color: lightblue;
  background-color: darkblue;
}

.btn-db-danger:hover {
  color: lightblue;
  background-color: red;
}

.btn-db-update:hover {
  color: lightblue;
  background-color: green;
}

.btn:active,
.btn-db-danger:active,
.btn-db-update:active {
  position: relative;
  top: 4px;
  bottom: 4px;
}
