.btn,
.btn-danger {
  border-radius: 20px;
  color: darkblue;
  background-color: lightblue;
  font-family: arial;
}

.btn:hover {
  color: lightblue;
  background-color: darkblue;
}

.btn-danger:hover {
  color: lightblue;
  background-color: red;
}

.btn:active,
.btn-danger:active {
  position: relative;
  top: 4px;
  bottom: 4px;
}
