<h1>Transactions</h1>

<p> Total spend to date: £<%= sprintf("%.2f",@total_spent.to_f / 100) %> </p>

<p>Merchant</p>
<p>Amount</p>
<p>Tag</p>
  <% for transaction in @transactions %>
    <p><%= transaction["merchant_name"] %></p>
    £<%= sprintf("%.2f",transaction["amount"].to_f / 100) %>
    <%= transaction["tag_name"] %>
  <% end %>

<p></p>
<nav>
  <a href="/">Home</a>
</nav>
