<h3>Add New Transaction</h3>
<p></p>
<form method="post" action="/manage/transactions">
  <label for="amount-field">Amount: </label>
  <input autofocus
  type="text"
  name="amount"
  id="amount-field"
  />
  Please enter value in pence

  <div class="form-trans">
    <label for="merch_select">Select Merchant: </label>
    <select name="merchant_id" id="merch_select">
      <% @merchants.each do |merchant| %>
        <option value=<%= merchant.id %>><%= merchant.name %></option>
      <% end %>
    </select>
  </div>

  <div class="form-trans">
    <label for="tag_select">Select Tag: </label>
    <select name="tag_id" id="tag_select">
      <% @tags.each do |tag| %>
        <option value=<%= tag.id %>><%= tag.name %></option>
      <% end %>
    </select>
  </div>

  <label for="notes-field">Notes: </label>
  <input
  type="text"
  name="notes"
  id="notes-field"
  />
  <p></p>
  <p></p>
  <input class="btn-db-update" type="submit" value="Add Transaction">
</form>
